@import "milligram/milligram";
@import "colors";

// Color vars from milligram/_Color.sass and colors.scss

.color-initial {
  color: $color-initial;
}

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-tertiary {
  color: $color-tertiary;
}

.color-quaternary {
  color: $color-quaternary;
}

.error {
  color: $color-error;
}
